body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    background: gray;
    margin: 0;
    padding: 15px 0;
}

ul li {
    list-style: none;
    margin: 0 23px;
}