html, body
{
  height: 100%;
  width: 100%;
  background: red;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

ul
{
  display: flex;
  background: grey;
  margin: 0;
  padding: 15px 0;
  color: white;
}

ul li
{
  list-style: none;
  margin: 0 23px;
}